version: "1"
projects:
- name: helloworld
  environments:
  - name: staging
    services:
    - type: web
      name: backend
      runtime: node
      repo: https://github.com/maplab-oss/helloworld
      plan: free
      envVars:
      - key: APP_ENV
        value: production
      - key: BACKEND_PORT
        value: 5471
      - key: FRONTEND_HOST
        fromService:
          name: frontend
          type: web
          property: host
      - key: MONGO_CONNECTION_STRING
        sync: false
      region: singapore
      buildCommand: corepack enable && pnpm install && pnpm turbo run build --filter=@maplab-oss/helloworld-backend
      startCommand: pnpm --filter=@maplab-oss/helloworld-backend start
      healthCheckPath: /health
      autoDeployTrigger: commit
      buildFilter:
        paths:
        - apps/backend/**
        - packages/**
        - package.json
        - pnpm-lock.yaml
    - type: web
      name: frontend
      env: static
      repo: https://github.com/maplab-oss/helloworld
      envVars:
      - key: VITE_BACKEND_HOST
        fromService:
          name: backend
          type: web
          property: host
      buildCommand: corepack enable && pnpm install && pnpm turbo run build --filter=@maplab-oss/helloworld-frontend
      staticPublishPath: apps/frontend/dist
      routes:
      - type: rewrite
        source: /*
        destination: /index.html
      autoDeployTrigger: commit
      buildFilter:
        paths:
        - apps/frontend/**
        - packages/**
        - package.json
        - pnpm-lock.yaml
